@model InsuranceApolicyWeb.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNeighborhood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNeighborhood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberPersonal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberPersonal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NIF }) |
    @Html.ActionLink("Back to List", "Index")
</p>
