@model InsuranceApolicyWeb.Models.UserViewModel

@{
    ViewBag.Title = "Dados Pessoais";
}

<div class="container body-content">

    <h3 class="text-uppercase">Dados Pessoais</h3>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <h5 class="text-uppercase">INFORMAÇÃO DE CLIENTE</h5>

    <div class="row personal-data">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.NIF)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.NIF)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.Role)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.Role)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.DocumentType)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.DocumentType)</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.AddressStreet)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.AddressStreet)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.AddressNeighborhood)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.AddressNeighborhood)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.AddressCity)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.AddressCity)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.PhoneNumberHome)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.PhoneNumberHome)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.Email)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.Email)</div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.ClientType)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.ClientType)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.Name)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.Name)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.DocumentNumber)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.DocumentNumber)</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.AddressNumber)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.AddressNumber)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.AddressTown)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.AddressTown)</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-3 th"><b>@Html.DisplayNameFor(model => model.PhoneNumberPersonal)</b></div>
                <div class="col-md-4 col-sm-3 td">@Html.DisplayFor(model => model.PhoneNumberPersonal)</div>
            </div>

        </div>

    </div>

    <br />

    <h5 class="text-uppercase">INFORMAÇÃO DE CLIENTE</h5>

    <div class="row  personal-data">
        <div class="col-md-4">
            <img src="~/Content/ASSETS/"
        </div>
    </div>

</div>